$headerColor: #022f93;
$blobColor: #fff500;
$secondaryColor: #00b5eb;
$primaryColor: #404040;
$backgroundColor: #fff;

.react-multi-carousel-track {
  margin-bottom: 2rem !important;
}

.react-multi-carousel-dot button {
  border-color: $secondaryColor !important;
  width: 18px;
  height: 18px;
}

.react-multi-carousel-dot--active button {
  background-color: $secondaryColor !important;
}
