.awssld {
  width: 80%;
  max-width: 80%;
  margin: auto;
}

nav.awssld__bullets button {
  background: #00b5eb !important;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 465ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px !important;
  --organic-arrow-color: #fff500 !important;
  --control-button-width: 10% !important;
  --control-button-height: 25% !important;
  --control-button-background: transparent;
  --control-bullet-color: #00b5eb !important;
  --control-bullet-active-color: #fff500 !important;
  --loader-bar-color: #00b5eb !important;
  --loader-bar-height: 6px;
}
