$primaryFont: "Mulish", sans-serif;
$secondaryFont: "Poppins", sans-serif;

$headerColor: #022f93;
$blobColor: #fff500;
$secondaryColor: #00b5eb;
$primaryColor: #404040;
$backgroundColor: #fff;
$borderColor: #707070;

$shadow: 0px 3px 6px #00000015;

* {
  font-family: "Futura", "Mulish", "Poppins", sans-serif;
}
@mixin border($color) {
  border: 1.2px solid $color;
}

@mixin buttonStyle {
  color: $backgroundColor !important;
  background-color: $secondaryColor;
  border-radius: 50em;
  cursor: pointer;
  padding: 0.4rem 2.2rem !important;
}

@mixin displaFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.navbar {
  background-color: $backgroundColor !important;
  box-shadow: $shadow;
  div ul li a {
    color: $borderColor !important;
    font-weight: 300;
  }
  div ul .login {
    @include buttonStyle();
    // border-left: 1px solid $borderColor;
    margin-left: 1rem;
  }
}

.header {
  position: relative;
  background-image: url("background.png");
  background-color: $backgroundColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: 9vh;

  .row {
    height: 100%;
    .col-sm-7 {
      padding-left: 5rem;
      @include displaFlex(center, left);
      flex-direction: column;
      @include border(cyan);
      h2.title {
        color: $headerColor;
        font-weight: bold;
      }
      p.catchline {
        padding-top: 2rem;
        color: $backgroundColor;
        .highlight {
          color: $blobColor;
          text-transform: uppercase;
        }
      }
    }
  }
}
