.header {
  position: relative;
  background-image: url("https://cdn.discordapp.com/attachments/787025267636830249/796361628378595348/background.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.header .row .col-sm-7 h2.title {
  font-size: 2.8rem;
}

.header .row .col-sm-7 p.catchline {
  font-size: 1.4rem;
}

.header .row .col-sm-5 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .row .col-sm-5 button {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (max-width: 766px) {
  .header .row .col-sm-5 button {
    display: none;
  }
}

.btn {
  padding: 0.75rem 2.2rem !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #00b5eb !important;
  border-color: #00b5eb;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0 0.255rem 0.55rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.255rem 0.55rem rgba(0, 0, 0, 0.075) !important;
}

.btn-primary:hover {
  background-color: #017ea4 !important;
  border-color: #017ea4 !important;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #19a2cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  border-color: #19a2cc !important;
}

#announcement .container-fluid {
  position: relative;
  background-image: url("https://cdn.discordapp.com/attachments/787025267636830249/796361618413060106/announcementBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#faculty .container-fluid .row {
  height: 72vh !important;
  overflow-y: scroll;
  position: relative;
  background-image: url("https://cdn.discordapp.com/attachments/787025267636830249/796361626369785906/facultyBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#contact .row {
  height: 60vh !important;
  overflow-y: scroll;
  position: relative;
  background-image: url("https://cdn.discordapp.com/attachments/787025267636830249/796361626369785906/facultyBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#contact .row .col-md-6 {
  height: 30vh;
}

#login .container-fluid {
  position: relative;
  background-image: url("https://cdn.discordapp.com/attachments/787025267636830249/796361618413060106/announcementBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

.react-multi-carousel-track {
  margin-bottom: 2rem !important;
}

.react-multi-carousel-dot button {
  border-color: #00b5eb !important;
  width: 18px;
  height: 18px;
}

.react-multi-carousel-dot--active button {
  background-color: #00b5eb !important;
}

.drag-drop {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.drag-drop:focus {
  outline: none;
}

.color-darkBlue {
  color: #022f93 !important;
}

.color-white {
  color: #fff !important;
}

.color-yellow {
  color: #fff500 !important;
}

.color-primary {
  color: #404040 !important;
}

.color-blue {
  color: #00b5eb !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-yellow {
  background-color: #fff500 !important;
}

.bg-blue {
  background-color: #00b5eb !important;
}

.bg-darkBlue {
  background-color: #022f93 !important;
}

#bar {
  max-width: 50%;
}

.nav-link.activelink {
  color: #404040 !important;
}

.border-top {
  border-top-width: 5px !important;
}

* {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free" !important;
}
/*# sourceMappingURL=style.css.map */