@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #00b5eb;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #022f93;
}

.color-darkBlue {
  color: #022f93 !important;
}

.color-white {
  color: #fff !important;
}

.color-yellow {
  color: #fff500 !important;
}

.color-primary {
  color: #404040 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-yellow {
  background-color: #fff500 !important;
}

.bg-blue {
  background-color: #00b5eb !important;
}

.bg-darkBlue {
  background-color: #022f93 !important;
}

#bar {
  max-width: 50%;
}

.nav-link.activelink {
  color: #404040 !important;
}

* {
  font-family: "Mulish", sans-serif;
}

p {
  font-style: italic;
}

body {
  position: relative;
  overflow-x: hidden;
}

.btn {
  border-radius: 50em;
  padding: 0.4rem 2.2rem !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-primary {
  color: #fff !important;
  background-color: #00b5eb !important;
}

.btn-primary:hover {
  background-color: #19a2cc;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #19a2cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary {
  background-color: #00b5eb !important;
  border-color: #00b5eb;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-primary:hover {
  background-color: #017ea4 !important;
  border-color: #017ea4 !important;
}

.navbar div .navbar-nav .nav-item .nav-link {
  font-weight: 300;
}

.navbar div .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1.8px;
  background: #00b5eb;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar div .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 766px) {
  .navbar-collapse {
    background-color: #fff !important;
    width: 100%;
    -webkit-box-shadow: 0px 3px 6px #00000015;
            box-shadow: 0px 3px 6px #00000015;
  }
  .navbar-collapse .navbar-nav .nav-item {
    padding: 0rem 1rem;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: inline-block;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
  }
}

.header {
  position: relative;
  background-image: url("background.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.header .row .col-sm-7 h2.title {
  font-size: 2.8rem;
}

.header .row .col-sm-7 p.catchline {
  font-size: 1.4rem;
}

.header .row .col-sm-5 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .row .col-sm-5 button {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (max-width: 766px) {
  .header .row .col-sm-5 button {
    display: none;
  }
}

#counters .card-deck .card {
  height: 200px;
  border: none;
  border-radius: 0px;
}

#counters .card-deck .card h2.title {
  font-size: 4rem;
}

#directorMessage .row .col-sm-6 p.content {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

#announcement .text-center #bar,
#testimonials .text-center #bar {
  max-width: 20%;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

#announcement .container-fluid {
  position: relative;
  background-image: url("announcementBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#testimonials .container-fluid {
  position: relative;
  background-image: url("testimonialBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#footer .container-fluid .row .col-sm-3 a.footerlink {
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  line-height: 1.7;
}

#footer .container-fluid .row .col-sm-3 a.footerlink:hover {
  color: #fff500;
  text-decoration: none;
}

#faculty .container-fluid .row {
  height: 72vh !important;
  overflow-y: scroll;
  position: relative;
  background-image: url("facultyBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("navbar.png") !important;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

#navbar-dashboard {
  max-width: 20%;
  background-color: #00b5eb !important;
  padding-left: 30px !important;
}

#navbar-dashboard .collapse .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar-dashboard .collapse .navbar-nav .nav-item .nav-link {
  color: white !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#navbar-dashboard .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #fff500 !important;
  text-decoration: none;
}

.chowzb {
  background-color: #00b5eb !important;
  -webkit-box-shadow: 0 0 2px 0px #00b5eb !important;
          box-shadow: 0 0 2px 0px #00b5eb !important;
  color: #fff !important;
}

.chowzb:focus {
  outline: none;
}

.hCVuYx {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 2px 0px #00b5eb !important;
          box-shadow: 0 0 2px 0px #00b5eb !important;
  color: #00b5eb !important;
}

.brcpxa {
  background-color: #00b5eb !important;
  -webkit-box-shadow: 0 0 1px 3px #00b5eb !important;
          box-shadow: 0 0 1px 3px #00b5eb !important;
}

.brcpxa:hover, .brcpxa:focus {
  -webkit-box-shadow: 0 0 1px 3px #00b5eb !important;
          box-shadow: 0 0 1px 3px #00b5eb !important;
}

.ikyGAt {
  -webkit-box-shadow: 0 0 1px 3px #00b5eb !important;
          box-shadow: 0 0 1px 3px #00b5eb !important;
}

.card .card-body .card-title {
  color: #022f93;
  font-weight: 700 !important;
}
/*# sourceMappingURL=style.css.map */