::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #00b5eb;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #022f93;
}

* {
  font-family: "Futura", "Mulish", "Poppins", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

#bar {
  max-width: 50%;
}

.navbar {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 3px 6px #00000015;
          box-shadow: 0px 3px 6px #00000015;
}

.navbar div ul li a {
  color: #707070 !important;
  font-weight: 300;
}

.navbar div ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.8px;
  background: #00b5eb;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar div ul li a:hover::after {
  width: 100%;
}

.navbar div ul .login {
  color: #fff !important;
  background-color: #00b5eb;
  border-radius: 50em;
  cursor: pointer;
  padding: 0.4rem 2.2rem !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-left: 1rem;
}

.navbar div ul .login:hover {
  background-color: #19a2cc;
}

.navbar div ul .login:active, .navbar div ul .login:focus {
  background-color: #19a2cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  outline: none;
}

.header {
  position: relative;
  background-image: url("background.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: 9vh;
}

.header .row {
  height: 100%;
}

.header .row .col-sm-7 {
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .row .col-sm-7 h2.title {
  color: #022f93;
  font-weight: bold;
}

.header .row .col-sm-7 p.catchline {
  padding-top: 2rem;
  color: #fff;
}

.header .row .col-sm-7 p.catchline .highlight {
  color: #fff500;
  text-transform: uppercase;
}

.header .row .col-sm-5 button {
  font-size: 1.2rem;
  margin-top: 40%;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  position: absolute;
  padding: 0.5rem;
  right: -40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00b5eb;
  border: none;
  color: #fff;
}

@media (max-width: 766px) {
  .header .row .col-sm-5 button {
    display: none;
  }
}

.modal-dialog .modal-content .modal-footer button.button {
  color: #fff !important;
  background-color: #00b5eb;
  border-radius: 50em;
  cursor: pointer;
  padding: 0.4rem 2.2rem !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.modal-dialog .modal-content .modal-footer button.button:hover {
  background-color: #19a2cc;
}

.modal-dialog .modal-content .modal-footer button.button:active, .modal-dialog .modal-content .modal-footer button.button:focus {
  background-color: #19a2cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  outline: none;
}

#counters .card-deck {
  padding-left: 2rem;
  padding-right: 2rem;
}

#counters .card-deck .card {
  height: 200px;
  border: none;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px #00000015;
          box-shadow: 0px 3px 6px #00000015;
  text-align: center;
}

#counters .card-deck .card h2.title {
  font-size: 4rem;
}

#counters .card-deck #tnpsc {
  background-color: #00b5eb;
  color: #fff;
}

#counters .card-deck #tneb {
  background-color: #fff500;
  color: #022f93;
}

#counters .card-deck #trb {
  background-color: #022f93;
  color: #fff500;
}

#directorMessage {
  padding-left: 2rem;
  padding-right: 2rem;
}

#directorMessage .row .col-sm-6 h2.title {
  color: #022f93;
  font-weight: bold;
  margin-bottom: 0px;
}

#directorMessage .row .col-sm-6 p.content {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  color: #404040;
  font-weight: 400;
  letter-spacing: 1px;
}

#announcement h2.title,
#testimonials h2.title {
  color: #022f93;
  font-weight: bold;
  margin-bottom: 0px;
}

#announcement .text-center,
#testimonials .text-center {
  margin-top: 0px;
  padding-top: 0px;
}

#announcement .text-center #bar,
#testimonials .text-center #bar {
  max-width: 20%;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

#announcement .container-fluid,
#testimonials .container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

#announcement .container-fluid {
  position: relative;
  background-image: url("announcementBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#testimonials .container-fluid {
  position: relative;
  background-image: url("testimonialBlob.png");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-size: contain;
}

#footer {
  min-height: 300px;
  background-color: #022f93;
  color: #fff;
  padding: 2rem;
}

#footer .container-fluid .row {
  padding-left: 3rem;
  padding-right: 3rem;
}

#footer .container-fluid .row .col-sm-5 p .highlight,
#footer .container-fluid .row .col-sm-4 p .highlight {
  color: #fff500;
}

#footer .container-fluid .row .col-sm-3 a.footerlink {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 1.7;
}

#footer .container-fluid .row .col-sm-3 a.footerlink:hover {
  color: #fff500;
  text-decoration: none;
}

#login .container-fluid .row .col-sm-7 {
  background-color: #fff500;
}

#login .container-fluid .row .col-sm-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login .container-fluid .row .col-sm-5 h2.title {
  color: #022f93;
  margin-bottom: 2rem;
}

#login .container-fluid .row .col-sm-5 form {
  width: 100%;
}

#login .container-fluid .row .col-sm-5 form div input,
#login .container-fluid .row .col-sm-5 form select {
  border-color: #00b5eb;
}

#login .container-fluid .row .col-sm-5 button {
  color: #fff !important;
  background-color: #00b5eb;
  border-radius: 50em;
  cursor: pointer;
  padding: 0.4rem 2.2rem !important;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#login .container-fluid .row .col-sm-5 button:hover {
  background-color: #19a2cc;
}

#login .container-fluid .row .col-sm-5 button:active, #login .container-fluid .row .col-sm-5 button:focus {
  background-color: #19a2cc;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  outline: none;
}
/*# sourceMappingURL=style.css.map */